.git
.gitignore
node_modules
configs
*.env
# package-lock.json
manifests
README.md
# public
Dockerfile
.dockerignore
docker-compose.yml
.prettierrc
.prettierignore

# Coverage directory used by tools like istanbul
coverage

test